<p class="display-5 text-center">Details of the Student</p>
<hr>
<div>
    <dl class="dl-horizontal">
        <dt>Full Name</dt>
        <dd>{{student.fullName}}</dd>

        <dt>Email</dt>
        <dd>{{student.email}}</dd>

        <dt>Phone</dt>
        <dd>{{student.phone}}</dd>

        <dt>Guardian Name</dt>
        <dd>{{student.guardianName}}</dd>

        <dt>Class</dt>
        <dd>{{student.class}}</dd>

        <dt>Type</dt>
        <dd>{{student.type}}</dd>

        <dt>Subject</dt>
        <dd>{{student.course}}</dd>

        <dt>Amount</dt>
        <dd>{{student.amount}}</dd>

        <dt>Admission Fee</dt>
        <dd>{{student.admissionFee}}</dd>

        <dt>Date</dt>
        <dd>{{student.date}}</dd>
    </dl>
</div>
