<!-- <p>Total Student: {{count}}</p>
<p>Total Amount: {{netAmount}}</p>
<p>Receive Amount: {{receiveAmount}}</p>
<p>Due Amount: {{dueAmount}}</p>
<p>Total Other Income: {{totalOtherIncome}}</p>
<p>Total Expense: {{totalExpense}}</p> -->


<section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 m-auto">
          <div class="row pt-md-5">
            <div class="col-xl-4 col-sm-6 p-2">
              <div class="card card-common">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <i class="fas fa-users fa-3x text-info"></i>
                    <div class="text-right text-secondary">
                      <h5>Total Student</h5>
                      <h3>{{count}}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6 p-2">
              <div class="card card-common">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <i class="fas fa-money-bill-alt fa-3x text-success"></i>
                    <div class="text-right text-secondary">
                      <h5>Student Amount</h5>
                      <h3>{{netAmount}}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6 p-2">
              <div class="card card-common">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <i class="fas fa-money-bill-alt fa-3x text-success"></i>
                    <div class="text-right text-secondary">
                      <h5>Receive Amount</h5>
                      <h3>{{receiveAmount}}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row pt-md-5">
            <div class="col-xl-4 col-sm-6 p-2">
              <div class="card card-common">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <i class="fas fa-money-bill-alt fa-3x text-success"></i>
                    <div class="text-right text-secondary">
                      <h5>Due Amount</h5>
                      <h3>{{dueAmount}}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6 p-2">
              <div class="card card-common">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <i class="fas fa-money-bill-alt fa-3x text-success"></i>
                    <div class="text-right text-secondary">
                      <h5>Other Income</h5>
                      <h3>{{totalOtherIncome}}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6 p-2">
              <div class="card card-common">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <i class="fas fa-money-bill-alt fa-3x text-success"></i>
                    <div class="text-right text-secondary">
                      <h5>Expense</h5>
                      <h3>{{totalExpense}}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
</section>
